.body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.signin-container {
    width : 250px;
    height : 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--signin-background-color);
    padding : 70px;
    border-radius: 3px;
}

.signin-container input {
    width: 220px;
    margin-top: 12px;
    height: 30px;
    padding: 5px;
    border: 1.5px solid black;
    border-radius: 3px;
}

.signin-container button {
    margin-top : 12px;
    height: 37px;
    padding-left: 20px;
    padding-right : 20px;
    background-color: rgb(161, 0, 0);
    color : white;
    border-radius: 3px;
}