.new-book-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.new-book-container {
    padding : 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--signin-background-color);
    border-radius: 3px;
}

.new-book-container input {
    width: 220px;
    margin-top: 10px;
    height: 30px;
    padding: 5px;
    border: 1.5px solid black;
    border-radius: 3px;
}

.new-book-container button {
    margin-top : 12px;
    width: 70px;
    height: 37px;
    background-color: rgb(161, 0, 0);
    color : white;
    border-radius: 3px;
}