.admin-rent-list-table-container {
    background-color: grey;
    color : white;
    flex : 0.8;
    text-align: center;
}
table, th, td {
    border : 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding : 5px;
}