body {
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
    font-family: 'Roboto', sans-serif;
}

.list-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin : 25px;
}

.user-name {
    margin-left: 25px;
}

.no-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}


:root{
    --navbar-text-color : rgb(0, 0, 0);
    --navbar-background-color : rgb(255, 255, 255);
    --navbar-body-button-background-color : rgb(145, 0, 0);
    --navbar-body-button-text-color : white;
    --navbar-body-button-background-color-hovor : rgb(53, 0, 0);
    --navbar-hr : black;
    --item-background-color : rgb(255, 255, 255);
    --item-text-color : black;
    --item-author-color : rgb(145, 0, 0);
    --rent-button-color : rgba(37, 109, 117, 0.578);
    --wishlist-button-color : rgba(0, 0, 255, 0.539);
    --rented-button-color : rgb(33, 62, 65);
    --wishlisted-button-color : rgba(0, 0, 255, 0.811);


    --rent-button-text-color : black;
    --rented-button-text-color : white;
    --wishlist-button-text-color : black;
    --wishlisted-button-text-color : white;
    --item-button-border-color : black;


    --body-background-color : rgb(231, 231, 231);

    --navbar-searchbar-border-color : black;
    --navbar-searchbar-color : white;
    --navbar-searchbar-placeholder-color : gray;
    --navbar-searchbar-text-color : black;

    --theme-color-background-color : black;
    --theme-color-text-color : white;

    --signin-background-color : grey;

    --item-button-background-color : rgb(226, 242, 255);
}

.dark-theme {
    --navbar-text-color : rgb(255, 255, 255);
    --navbar-background-color : rgb(0, 0, 0);
    --navbar-body-button-background-color : rgb(145, 0, 0);
    --navbar-body-button-text-color : rgb(255, 255, 255);
    --navbar-body-button-background-color-hovor : rgb(202, 5, 5);
    --navbar-hr : white;
    --item-background-color : rgba(0, 0, 0, 0.849);
    --item-text-color : white;
    --item-author-color : rgb(0, 132, 255);

    --rent-button-color : rgba(9, 255, 0, 0.393);
    --wishlist-button-color : rgba(255, 0, 187, 0.395);
    --rented-button-color : rgb(9, 255, 0);
    --wishlisted-button-color : rgb(255, 0, 187);


    
    --rent-button-text-color : white;
    --rented-button-text-color : black;
    --wishlist-button-text-color : white;
    --wishlisted-button-text-color : black;

    --item-button-border-color : white;

    --body-background-color : rgb(127, 127, 127);

    --navbar-searchbar-border-color : white;

    --navbar-searchbar-color : rgba(0, 0, 0, 0.046);
    --navbar-searchbar-placeholder-color : rgba(0, 0, 0, 0.619)(0, 0, 0);
    --navbar-searchbar-text-color : white;

    
    --theme-color-background-color : white;
    --theme-color-text-color : black;

    --signin-background-color : rgba(239, 239, 239, 0.881);

    --item-button-background-color : rgb(24, 52, 74);
}